<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><u><center>REGISTRO</center></u></h1>
    <form action="" method="get">
        
        <center><label for="marca">Ingrese una marca: </label><input type="text" name="marca"></center>
        <br>
        <center><label for="modelo">Ingrese un modelo: </label><input type="text" name="modelo"></center>
        <br>
        <center><button type="submit">Enviar</button></center>
        <center><a href="/APP/lista-autos/"><input type="button" value="Ver lista de autos"></a></center>
    </form>
</body>
</html>